$primary-contrast-color: #6116ac;
$secondary-contrast-color: #15CDA8;
$tertiary-contrast-color: #fff;
$primary-icon-color: #E76F51;

$pattern-background-color: #0d0d0d;
$solid-background-color: #0d0d0d;