$primary-contrast-color: #C8ACD6;
$secondary-contrast-color: #15CDA8;
$tertiary-contrast-color: #fff;
$tertiary-black-color: #000;
$primary-icon-color: #E76F51;

$pattern-background-color: #0d0d0d;
$solid-background-color: #0d0d0d;